<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tv.ismar.listpage">

    <application
    >
        <activity
            android:name="tv.ismar.channel.FilterListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/IsmartvAppUnifyBgTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="tv.ismar.daisy.Filter"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="tv.ismar.channel.RelatedActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"
            android:theme="@style/IsmartvAppUnifyBgTheme">
            <intent-filter>
                <action android:name="tv.ismar.daisy.relateditem"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="tv.ismar.channel.PackageListDetailActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"
            android:theme="@style/IsmartvAppUnifyBgTheme">
            <intent-filter>
                <action android:name="tv.ismar.daisy.packagelist"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity android:name="tv.ismar.channel.HistoryFavoriteActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"
            android:theme="@style/IsmartvAppUnifyBgTheme">
            <intent-filter>
                <action android:name="tv.ismar.daisy.historyfavorite"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="tv.ismar.channel.HistoryFavoritrListActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"
            android:theme="@style/IsmartvAppUnifyBgTheme">
            <intent-filter>
                <action android:name="tv.ismar.daisy.historyfavoriteList"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity android:name="tv.ismar.view.ListTestActivity">
            <intent-filter>
                <action android:name="tv.ismar.daisy.listtest"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            </activity>
        <activity android:name="tv.ismar.channel.TransferActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/IsmartvAppUnifyBgTheme"
            >
            <intent-filter>
                <action android:name="tv.ismar.daisy.Channel"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
