<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tv.ismar.account">

    <application
        >
        <service android:name=".ActiveService">
            <intent-filter>
                <action android:name="tv.ismar.daisy.initservice" />
            </intent-filter>
            </service>
    </application>

</manifest>
